<div class="w-full md:max-w-2xl mx-auto space-y-4">
  <h2 class="text-2xl font-bold">Register</h2>

  <%- include('../../atoms/flash.ejs', { error }) %>

  <form
    action="/register"
    method="post"
    class="space-y-4"
  >
    <%- include('../../atoms/input', { 
        id: 'email', 
        type: 'email', 
        name: 'email', 
        label: 'Email', 
        placeholder: 'Your email', 
        required: true,
        value:"" 
      }) 
    %> 
    
    <%- include('../../atoms/input', { 
        id: 'name', 
        type: 'name',
        name: 'name', 
        label: 'Name', 
        placeholder: "Your name", 
        required: true,
        value:""
      }) 
    %> 
    
    <%- include('../../atoms/input', { 
        id: 'password', 
        type: 'password', 
        name: 'password', 
        label: 'Password', 
        placeholder: '*******',
        required: true,
        value:"" 
      }) 
    %> 
    
    <%- include("../../atoms/button.ejs", { 
        type: "submit", 
        text: "Register", 
        variant: "primary"
      }) 
    %>

    <p class="text-sm">
      Have an account?
        <%- include('../../atoms/link.ejs', { link: "/login", linkText: "Login" }) %>
    </p>
  </form>
</div>
